{% extends 'main/layout.html' %}
{% load static %}

{% block title %}CIDS Alerts{% endblock %}

{% block content %}
<main class="alerts">
    <header class="alerts-header">
      <h1>ALERTS</h1>
    </header>
    <div class="alerts-body">
      <section class="alerts-table">
        <div class="container">
            <ul class="alerts-responsive-table">
              <li class="alerts-table-header">
                <div class="col col-1">ID</div>
                <div class="col col-2">Time</div>
                <div class="col col-3">Message</div>
                <div class="col col-4">Trigger</div>
              </li>
              {% for alert in alerts %}
              <li class="alerts-table-row">
                <div class="col col-1" data-label="Alert ID">{{ alert.ID }}</div>
                <div class="col col-2" data-label="Time">{{ alert.timestamp }}</div>
                <div class="col col-3" data-label="Message">{{ alert.message }}</div>
                <div class="col col-4" data-label="Trigger">{{ alert.trigger }}</div>
              </li>
              {% endfor %}
            </ul>
          </div>

      </section>
    </div>
</main>

{% endblock %}