{% extends 'main/layout.html' %}
{% load static %}

{% block title %}CIDS Alerts{% endblock %}

{% block content %}
<main class="alerts">
    <header class="alerts-header">
      <h1>ALERTS</h1>
    </header>
    <div class="alerts-body">
      <section class="alerts-table">
        <div class="container">
            <ul class="alerts-responsive-table">
              <li class="alerts-table-header">
                <div class="col col-1">ID</div>
                <div class="col col-2">Time</div>
                <div class="col col-3">Message</div>
                <div class="col col-4">Trigger</div>
              </li>
              <li class="alerts-table-row">
                <div class="col col-1" data-label="Alert ID">1</div>
                <div class="col col-2" data-label="Time">17/03/2025 11:20:00</div>
                <div class="col col-3" data-label="Message">Malicious IP address detected</div>
                <div class="col col-4" data-label="Trigger">112.132.11.56</div>
              </li>
              <li class="alerts-table-row">
                <div class="col col-1" data-label="Alert ID">2</div>
                <div class="col col-2" data-label="Time">16/03/2025 12:20:00</div>
                <div class="col col-3" data-label="Message">Malicious IP address detected</div>
                <div class="col col-4" data-label="Trigger">112.132.11.56</div>
              </li>
              <li class="alerts-table-row">
                <div class="col col-1" data-label="Alert ID">3</div>
                <div class="col col-2" data-label="Time">16/03/2025 12:40:00</div>
                <div class="col col-3" data-label="Message">DDoS Warning</div>
                <div class="col col-4" data-label="Trigger">111.111.11.111 exceeded requests</div>
              </li>
              <li class="alerts-table-row">
                <div class="col col-1" data-label="Alert ID">4</div>
                <div class="col col-2" data-label="Time">14/03/2025 16:44:00</div>
                <div class="col col-3" data-label="Message">Access Denied</div>
                <div class="col col-4" data-label="Trigger">Unknown user agent</div>
              </li>
            </ul>
          </div>

      </section>
    </div>
</main>

{% endblock %}