{% extends 'main/layout.html' %}
{% load static %}

{% block title %}CIDS Dashboard{% endblock %}

{% block content %}

    <main class="main-page">
      <header class="main-page-header">
        <h1>CIDS</h1>
        <p><b>CIDS</b> - це система відслідковування подій (аномальної поведінки та можливих атак) у хмарному сховищі підприємства. Завдяки зручному відображенню статистичних даних та попереджень, цей застосунок допомагає оперативно виявляти підозрілу активність у AWS Cloud S3 сховищах.</p>
      </header>
      <div class="about-body">
        <div class="about-data">
          <section class="about-section">
            <img src="{% static 'main/images/icon_dash.png' %}">
            <p><b>Dashboard</b> - це основний розділ, що надає наочну агреговану інформацію про події у хмарі. Тут знаходиться діаграма частоти запитів, останні логи, а також дві вибірки: топ GET-запитів за IP-адресами та попередження, про ймовірні атаки.</p>
          </section>
          <section class="about-section">
            <img src="{% static 'main/images/icon_log.png' %}">
            <p><b>Logs List</b> містить повну інформацію про всі логи подій. Дані подані у вигляді таблиці, яку можна відсортувати або фільтрувати по ключовому слову.</p>
          </section>
          <section class="about-section">
            <img src="{% static 'main/images/icon_alert.png' %}">
            <p><b>Alerts</b> - це сторінка з попередженнями, які було надіслано користувачу через Telegram Bot. Усі попередження містять час, повідомлення та тригер, завдяки чому можна легко виявити та попередити атаки на хмарне сховище.</p>
          </section>
        </div>
      </div>
    </main>
  </div>

{% endblock %}