{% extends 'main/layout.html' %}
{% load static %}

{% block title %}CIDS Dashboard{% endblock %}

{% block content %}

    <main class="dashboard">
      <header class="dashboard-header">
        <h1>DASHBOARD</h1>
      </header>
      <div class="event-data">
        <section class="event-statistics">
          <h2>Event Statistics</h2>
          <div>
            <div id="chart-loader" style="background: none; height: 0px;">Loading chart...</div>
            <canvas id="eventChart"></canvas>
          </div>
        </section>
        <section>
          <div class="last-updated">
            <h3>LAST TIME UPDATED</h3>
            <p id="last-updated">22/04/2025 16:40:25</p>
          </div>
          <div class="log-data">
            <h2>THE LAST LOG DATA</h2>
            <div id="logs-loader" style="margin-top: 32px;">Loading logs...</div>
            <ul id="logList"></ul>
          </div>
        </section>
      </div>
      <div class="separator"></div>
      <div class="bottom-panels">
        <section class="top-requests">
          <h2>Top GET Requests</h2>
          <div id="requests-loader">Loading requests...</div>
          <ul id="topRequests"></ul>
        </section>
        <section class="sent-alerts">
          <h2>Sent Alerts</h2>
          <div id="alerts-loader">Loading alerts...</div>
          <ul id="alertsList"></ul>
        </section>
      </div>
    </main>
  </div>
  <script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}